:root {
  --utl-size-01: 0.4rem;
  --utl-size-02: 0.5rem;
  --utl-size-03: 0.625rem;
  --utl-size-04: 0.75rem;
  --utl-size-05: 0.8rem;
  --utl-size-06: 1rem;
  --utl-size-07: 1.6rem;
  --utl-size-08: 2rem;
  --utl-size-09: 3rem;
  --utl-radius-01: 0.5rem;
  --utl-radius-02: 0.75rem;
  --utl-radius-03: 0.8rem;
  --utl-radius-04: 1rem;
}
